@import url("https://fonts.googleapis.com/css2?family=Lato&family=Phudu:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Phudu", cursive;
}
body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  /* justify-content: space-between; */
  background-image: linear-gradient(135deg, rgb(0, 0, 225), rgb(217, 0, 255));
}
.footer{
    font-size: 20px !important;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
.footer a:visited{
    color: #ffffff;
    text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border: 1px solid #ffffff;
}
.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto AUTO;
  gap: 10px;
}
.head {
    font-weight: 700;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}
.bg-black {
  background-image: linear-gradient(315deg, rgb(0, 0, 0), rgb(57, 57, 58));
  width: 320px;
  border-radius: 10px;
  box-shadow: 0px 25px 40px;
}
.button {
  border-radius: 50%;
  margin: 3px;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0px 5px 10px grey;
  cursor: pointer;
  font-size: 25px;
  background: transparent;
  color: #ffffff;
}
.input {
  padding: 10px 5px;
  width: 250px;
  border: none;
  color: #ffffff;
  font-size: 30px;
  text-align: right;
  background: transparent;
}
.input::placeholder {
  color: #ffffff;
}
.equalbtn {
  background-color: orange;
}
.operator {
  color: rgb(46, 222, 26);
}
.button:hover {
  background-color: #ffffff;
  color: black;
}
.operator:hover {
  background-color: rgb(46, 222, 26);
  color: black;
}
.equalbtn:hover {
  background-color: rgb(255, 150, 0);
  color: black;
}
.inputvalue {
  text-align: right;
  width: 250px;
  padding: 0 5px;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 15px;
}
.input:focus {
  outline: 0;
}